body {
    margin: 5px;
}
.grid-item {
    border: 1px solid gray; 
    box-sizing: border-box;
    height: 38rem;
    overflow: auto;
    margin: 5px;
    padding: 5ps;
    transition: box-shadow ease-out 0.3s;
    background-color: rgba(199, 199, 199, 0.925);
    border-radius: 1rem ;
}
h3 , p {
    text-align: center;
}
.grid-item:hover {
    box-shadow: 0px 2px 10px 3px gray ;
}
.grid-item:nth-child(n+2) {
    width: calc(50% - 10px)
}
#grid-floats .grid-item {
    float: left;
}
#grid-flex {
    display: flex;
    flex-wrap: wrap;
}
.grid-item img {
    width: 100% ;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
@media (min-width: 600px) {
    .grid-item:nth-child(1) {
        width: calc(50% - 10px) ;
    }
    .grid-item:nth-child(n+3) {
        width: calc(100%/3 - 10px) ;
    }
}
@media (min-width: 1024px) {
    .grid-item:nth-child(1) {
        width: calc(50% - 10px) ;
    }
    .grid-item:nth-child(n+2) {
        width: calc(100%/4 - 10px) ;
    }
}
